.backlog
  .backlog__header
    span.backlog__title.text_bold.text_size_large Backlog
    .backlog__search-icon
    .backlog__search-form
      include ../search-form/search-form
  .backlog__task-container 