.search-form
  label
    input(type="text", name="search-form__input", class="search-form__input text" placeholder="Найти задачи")
    .search-form__search-icon
  button.search-form__cancel.text Отменить